// screen_width
// @media (min-width: 768px)
// @media (min-width: 992px)
// @media (min-width: 1200px)
// @media (max-width: 767px)
$screen_width__big: 1200px;
$screen_width__middle: 992px;
$screen_width__small: 768px;

// main layout
$layout__sidebar_width__closed: 54px;
$layout__sidebar_width__opened: 210px;
$layout__header_height: 50px;
$layout__tabview_height: 30px;
